#. envrc
# Authomatically loads .env when you cd in the directory

# Load .env file if it exists
if [[ -f .env ]]; then
    dotenv .env
fi

# Set project-specific paths
# export DBT_PROFILES_DIR=$(pwd)

# Helpful aliases
alias dbt='uv run dbt'

# Notify user
echo "Loaded environment loaded for test_dbt project."
echo " Account: $SNOWFLAKE_ACCOUNT"
echo " User: $SNOWFLAKE_USER"
echo " Schema: $SNOWFLAKE_SCHEMA"